{% extends 'base_main.html' %}



{% block centro %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <h2>4 º ano - vespertino </h2>
    <form action="." method="post" enctype="multipart/form-data">
        {%  csrf_token %}
        {{ primeiro_form.as_p  }}
        <button type="submit">Enviar</button>
    </form>
{% endblock %}